﻿@model IEnumerable<DAL.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.ActionLink("List of products from base", "ListOfProducts", null, new { @class = "btn btn-lg btn-primary" })</h2><br>
<div class="center-block dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Edit Products
        <span class="caret">
        </span>
    </button>
    <ul class="dropdown-menu" role="menu">
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink("EDIT product " + item.Name, "Edit", new {id = item.ProductId})</li>
    }
    </ul>
</div>
