﻿@model IEnumerable<DAL.Product>

@{
    ViewBag.Title = "List of Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model != null)
{
    <div class="container" style="width: 50%; margin-top: 2%">
        
        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Supplier</th>
                <th>Price</th>
            </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Category</td>
                        <td>@item.Brand</td>
                        <td>@item.Supplier</td>
                        <td>@item.Price</td>
                   </tr>
                }
    
            </tbody>
        </table>
    </div>
}


