﻿@model DAL.Product

@{
    ViewBag.Title = "New Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Product</h2>

@using (Html.BeginForm("NewProduct", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(l => l.Price)
        @Html.TextBoxFor(l => l.Price, new {@class = "form-control", required = "required" })
    </div>

    <div class="form-group">
        @Html.LabelFor(l => l.Supplier)
        @Html.TextBoxFor(l => l.Supplier, new {@class = "form-control", required = "required" })
    </div>

    <div class="form-group">
        @Html.LabelFor(l => l.Category)
        @Html.TextBoxFor(l => l.Category, new {@class = "form-control", required = "required" })
    </div>

    <div class="form-group">
        @Html.LabelFor(l => l.Name)
        @Html.TextBoxFor(l => l.Name, new {@class = "form-control", required = "required" } )
    </div>

    <div class="form-group">
        @Html.LabelFor(l => l.Description)
        @Html.TextBoxFor(l => l.Description, new {@class = "form-control", required = "required" })
    </div>

    <div class="form-group">
        @Html.LabelFor(l => l.Brand)
        @Html.TextBoxFor(l => l.Brand, new {@class = "form-control", required = "required" })
    </div>

    <button type="submit" class="btn btn-danger">Add new product</button>


}