﻿@model IEnumerable<DAL.Product>

@{
    ViewBag.Title = "List of products from JSON-a";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Html.ActionLink("List of products from JSON file", "ListOfProductsJSON",null, new { @class = "btn btn-lg btn-primary " })</h2>

